bin/*
bin/*/*
src/files/*
src/files/*/*
*.class
*.jsonl
src/files/deportistas/123456789F.jsonl
src/files/login.jsonl
src/files/deportistas/123456789F.jsonl
bin/files/login.jsonl
bin/files/deportistas/123456789F.jsonl
src/files/deportistas/123456789F.jsonl
